#vi /etc/systemd/system/selecter-clickhouse.service
#chmod 664 /etc/systemd/system/selecter-clickhouse.service
#systemctl --system daemon-reload
#systemctl enable selecter-clickhouse
[Unit]
Description=selecter-clickhouse
Requires=network.target remote-fs.target nss-lookup.target

[Service]
PIDFile=/var/run/selecter-clickhouse.pid
ExecStart=/usr/bin/node /opt/selecter-clickhouse/selecter.js
WorkingDirectory=/opt/selecter-clickhouse
Restart=always
RestartSec=1min
SyslogIdentifier=selecter-clickhouse

[Install]
WantedBy=multi-user.target