[mysqld]
skip_name_resolve =0
performance_schema = 0
key_buffer_size = 16M
max_allowed_packet = 1M
table_open_cache = 600
sort_buffer_size = 512K
net_buffer_length = 8K
read_buffer_size = 256K
read_rnd_buffer_size = 512K
myisam_sort_buffer_size = 8M
transaction-isolation = READ-UNCOMMITTED

sql-mode="NO_ENGINE_SUBSTITUTION"
innodb_strict_mode=OFF

max_heap_table_size = 64M
tmp_table_size = 64M

innodb_buffer_pool_size = 24G
innodb_log_file_size = 256M
innodb_flush_log_at_trx_commit = 0
innodb_file_per_table
innodb_flush_method = O_DIRECT
query_cache_size = 0
max_connections=50
thread_cache_size = 1024
